/* Global styles */

body {
  background-color: rgb(6, 64, 119);
  text-align: center;
}

header {
  background-color: antiquewhite;
}

section {
  background-color: aliceblue;
}

footer {
  background-color: brown;
  position: absolute;
  bottom: 0;
  width: 100%;
}

svg {
  fill: rgb(6, 64, 119);
  width: 25rem;
}


.game-background {
  background-color: rgba(255, 255, 255, 0.863);
  width: 80%;
  max-width: 50rem;
  min-height: 70vh;
  margin-top: 6vh;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.hidden-element {
  display: none;
}