/* --------------------------
------- Global styles -------
-------------------------- */

:root {
  --color-primary: rgb(6, 64, 119);
}

body {
  background-color: var(--color-primary);
  transition: background-color 0.6s;
}

h1,
h2,
h3,
h4,
p,
li,
ul,
label {
  padding: 0;
  margin: 0;
  color: var(--color-primary);
  filter: brightness(80%);
}

li {
  list-style: none;
  filter: brightness(100%);
}

header {
  padding: 1em;
}

i {
  padding: 0 0.2em;
}

section {
  text-align: left;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
}

/* --------------------------
--------- Typografy ---------
-------------------------- */

body {
  text-align: center;
}

header {
  font-size: 100%;
}

.smaller-text {
  font-size: 80%;
}

#win-loose-msg {
  font-size: 180%;
}

/* --------------------------
------ Specific styles ------
-------------------------- */

#game-background {
  background-color: rgba(255, 255, 255, 0.863);
  border-radius: 2rem;
  width: 90%;
  max-width: 50rem;
  min-height: 36rem;
  margin: 1rem auto;
  padding: 0 0 2rem;
  position: relative;
  transition: 0.8s;
  box-shadow: 0 0 0.8rem #00000079;
}

#welcome-text {
  opacity: 0;
  transition: opacity 0.8s;
  max-width: 15ch;
}

#img-arnold {
  background-image: url("../images/arnold.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  height: 6rem;
}

#img-instruction {
  background-image: url("../images/rock-paper-scissor-instruction3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 10rem;
}

.hidden-element {
  display: none;
}

.align-left {
  text-align: left;
}

.margin-under {
  margin-bottom: 0.5rem;
}

#nickname {
  width: 8rem;
  border: 1px solid rgb(5, 38, 68);
  border-radius: 5px;
  color: rgb(5, 38, 68);
  text-align: center;
  padding: 0.3em;
  margin-top: 0.5rem;
}

#intro-text {
  width: 19ch;
}

#descrition-text {
  width: 26ch;
  margin: 0 auto;
}

#error-div {
  color: rgb(158, 14, 14);
  max-width: 35ch;
  margin: 0 auto 1rem;
  font-size: 85%;
}

/* --------------------------
---------- Buttons ----------
-------------------------- */

.flex-theme-btns {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.btn {
  border-radius: 5px;
  border-width: 2px;
  border-style: outset;
}

.theme-btn {
  height: 2rem;
  width: 2rem;
}

.btn-blue {
  background-color: rgb(6, 64, 119);
}

.btn-red {
  background-color: rgb(180, 2, 2);
}

.btn-green {
  background-color: rgb(64, 141, 29);
}

.btn-random {
  background-image: linear-gradient(
    58deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}

.play-game-btn {
  background-color: var(--color-primary);
  color: white;
  text-shadow: 1px 1px 2px rgb(5, 38, 68);
  padding: 0.7em 1em;
}

.game-btn {
  height: 3rem;
  width: 3rem;
  background-color: var(--color-primary);
  color: white;
  text-shadow: 1px 1px 2px rgb(5, 38, 68);
  font-size: 1.6rem;
  margin: 0 0.4rem;
}

/* --------------------------
---- Intro screen layout ----
-------------------------- */

#intro-screen {
  transition: opacity 0.8s;
}

.intro-screen-grid {
  /* display: grid; */
  display: none;
  gap: 1rem;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "arnold hello"
    "text text"
    "instruction instruction"
    "theme theme"
    "name name";
  text-align: center;
}

.intro-screen-grid :nth-child(1) {
  grid-area: arnold;
}

.intro-screen-grid :nth-child(2) {
  grid-area: hello;
}

.intro-screen-grid :nth-child(3) {
  grid-area: text;
}

.intro-screen-grid :nth-child(4) {
  grid-area: theme;
}

.intro-screen-grid :nth-child(5) {
  grid-area: name;
}

.intro-screen-grid :nth-child(6) {
  grid-area: instruction;
}

/* --------------------------
---- Game screen layout -----
-------------------------- */

#game-screen {
  /* display: none; */
  /* opacity: 0; */
  display: block;
  transition: opacity 0.8s;
  text-align: center;
  margin-top: 1.5rem;
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  font-size: 80%;
}

.rps-bg {
  width: 6rem;
  padding-top: 6rem;
  background-color: white;
  box-shadow: 0 0 0.3rem var(--color-primary);
  border-radius: 1rem;
  margin: 1rem auto 0.5rem;
}

.rps-player {
  background-image: url(../images/question-mark2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 0.5s;
}

.rps-arnold {
  background-image: url(../images/arnold-thinking2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 0.5s;
}

.rock {
  background-image: url(../images/rock.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.paper {
  background-image: url(../images/paper.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.scissor {
  background-image: url(../images/scissor.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* --------------------------
--- Result screen layout ----
-------------------------- */

#result-screen {
  display: none;
}

/* --------------------------
------ Media quesries -------
-------------------------- */

/* Media query for 400px */

@media screen and (min-width: 400px) {
  #game-background {
    margin: 2rem auto 1rem;
  }

  #descrition-text {
    width: 35ch;
  }

  .intro-screen-grid {
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
      ". arnold arnold hello hello . ."
      ". text text text text text ."
      ". . instruction instruction instruction . ."
      ". . theme theme theme . ."
      ". . name name name . .";
  }

  .rps-bg {
    width: 8rem;
    padding-top: 8rem;
    margin: 1.5rem auto 0.5rem;
  }

  .flex-container {
    margin-bottom: 2rem;
    font-size: 100%;
  }

  .game-btn {
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
  }
}

/* Media query for 768px */

@media screen and (min-width: 768px) {
  #game-background {
    margin: 3rem auto 1rem;
  }

  #descrition-text {
    width: 62ch;
  }

  #game-background {
    box-shadow: 0 0 2rem #00000079;
  }

  .rps-bg {
    width: 12rem;
    padding-top: 12rem;
  }
}
