/* Global styles */

:root {
  --color-bg: rgb(6, 64, 119);
}

body {
  background-color: var(--color-bg);
  text-align: center;
}

h1,
h2,
p,
li,
ul,
label {
  padding: 0;
  margin: 0;
  color: var(--color-bg);
  filter: brightness(80%);
}

li {
  list-style: none;
  filter: brightness(100%);
}

header {
  font-size: 70%;
  padding: 1em;
}

section {
  text-align: left;
}

section h2 {
  font-size: 1rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
}

.game-background {
  background-color: rgba(255, 255, 255, 0.863);
  border-radius: 2rem;
  width: 90%;
  max-width: 50rem;
  min-height: 70vh;
  margin: 5% auto;
  padding: 0 0.5em 5rem;
  position: relative;
}

#img-arnold {
  background-image: url("../images/arnold.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  height: 6rem;
}

#img-instruction {
  background-image: url("../images/rock-paper-scissor-instruction3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 10rem;
}

.hidden-element {
  display: none;
}

.align-left {
  text-align: left;
}

#nickname {
  width: 5rem;
}

.short-text {
  width: 19ch;
}

.bigger-text {
  font-size: 170%;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "arnold hello"
    "text text"
    "instruction instruction"
    "theme theme"
    "name name";
  text-align: center;
}

.grid :nth-child(1) {
  grid-area: arnold;
}

.grid :nth-child(2) {
  grid-area: hello;
}

.grid :nth-child(3) {
  grid-area: text;
}

.grid :nth-child(4) {
  grid-area: theme;
}

.grid :nth-child(5) {
  grid-area: name;
}

.grid :nth-child(6) {
  grid-area: instruction;
}

@media screen and (min-width: 400px) {
  .short-text {
    width: 25ch;
  
  }
}
